<%= render "cats/form", action: :edit, cat: @cat %>

<!-- <h1> Edit Cat </h1>

<form action='<%= cat_url(@cat) %>' method="post">
  <input type='hidden' name='_method' value='PATCH'>

name <br>
<input type='text' name='cat[name]' value= '<%= @cat.name %>' >


<br>sex <br>
  <input type="radio"  name ="cat[sex]" value="m" > Male<br>
  <input type="radio" name ="cat[sex]" value="f"> Female<br>


<br>Color <br>
  <select name="cat[color]">
    <option value='<%= @cat.color %>' disabled='disabled'>choose a color</option>

    <option   value="white">white</option>
    <option  value="black">black</option>
    <option  value="grey">grey</option>
    <option  value="orange">orange</option>
  </select>

<br>birthdate <br>
  <input name='cat[birth_date]'  type="date" value='<%= @cat.birth_date %>'>


<br>description <br>
  <input type='text' name='cat[description]' value= '<%= @cat.description %>'>

  <input type="submit" value='update cat'>
</form> -->
